[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

wget = "*"
pymongo = "*"
feedparser = "*"
"pathlib2" = "*"
python-slugify = "*"
"jinja2" = "*"
dateutils = "*"
cascade = "*"
"webapp2" = "*"
logging = "*"
webob = "*"
paste = "*"
google-auth = "*"
gae-installer = "*"
pyyaml = "*"
feedgen = "*"
cfscrape = "*"
schedule = "*"
