//http://paletton.com/#uid=23K0u0kJS6KvW5fuP8MNdeqCnl7
#episode,#feed {
    background-color:#2e4272;
}
#title {
	background-color:#0b134d;
}

body {
    background-color: #020d24;
	color: #734c00;
}

a {
    color: #a86f00;
}