{% extends "layout.html" %}
{% block content %}
<div>
   <h1>{{ title }}</h1>
   <p><img src="{{image}}" style="width:250px;height:250px;" ALIGN="left">{{ description }}</p>
</div>
<div style="width:100%;text-align:center;clear:both;font-size:.75em;font-style:italic;">
</div>
<div id="episodes">
   {% for n in episodes %}
   <div id = "episode">
      <h3 id="title">{{n['title']}} - Released {{n['pubDate']}} <a href="{{n['file']}}">💾</a><a href="#" id="play" data-value="{{n['file']}}" data-title="{{n['title']}}">▶</a></h3>
      <p>{{n['description']}}</p>
   </div>
   {% endfor %}
</div>
{% include 'audioplayer.html' %}
{% endblock %}